# Azure DevOps configuration

# URL de la organizacion (NO cambiar formato)
AZP_URL=https://dev.azure.com/TU_ORG

# Token personal (PAT) con permisos de Agent Pools
AZP_TOKEN=YOUR_PERSONAL_ACCESS_TOKEN_HERE

# Nombre del pool de agentes
AZP_POOL=NombrePool

# Token de sonar
SONAR_TOKEN=Token123